<a href="https://colab.research.google.com/github/manikur/R-programming/blob/main/project_1_ecommerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR']= '/content/drive/My Drive/Kaggle'

In [4]:
%cd /content/drive/My Drive/Kaggle

/content/drive/My Drive/Kaggle

In [5]:
! kaggle datasets download -d utkarsharya/ecommerce-purchases

Downloading ecommerce-purchases.zip to /content/drive/My Drive/Kaggle
  0% 0.00/984k [00:00<?, ?B/s]
100% 984k/984k [00:00<00:00, 51.0MB/s]

In [7]:
!unzip \*.zip && rm *.zip

Archive:  ecommerce-purchases.zip
replace Ecommerce Purchases? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: Ecommerce Purchases

In [8]:
data=pd.read_csv('Ecommerce Purchases')
data

                                                Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                      Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
...                                                 ...  ...            ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]

In [9]:
data.head(15)

                                              Address  ... Purchase Price
0   16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1   9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                    Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3               7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4   23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
5   7502 Powell Mission Apt. 768\nTravisland, VA 3...  ...          25.15
6      93971 Conway Causeway\nAndersonburgh, AZ 75107  ...          88.56
7   260 Rachel Plains Suite 366\nCastroberg, WV 24...  ...          44.25
8             2129 Dylan Burg\nNew Michelle, ME 28650  ...          59.54
9     3795 Dawson Extensions\nLake Tinafort, ID 88739  ...          95.63
10      650 Elizabeth Park\nLake Maria, LA 13526-2530  ...          96.89
11             349 Laurie Parks\nThomasview, ID 08970  ...          19.26
12    733 Heather Rest Apt. 670\nBoltonport, UT 78662  ...          39.65
13  118 Melton Via Suite 681\nAlexanderbury, FL 32104  ...           8.93
14  8774 Jason Keys Suite 427\nEast Scottborough, ...  ...          24.18

[15 rows x 14 columns]

In [10]:
data.tail(15)

                                                Address  ... Purchase Price
9985              7456 Stevens Rest\nEricside, FL 16389  ...          46.33
9986  2719 Troy Drive Suite 062\nLisachester, PW 414...  ...          22.02
9987     2754 Klein Mission\nJohnsonview, PA 64925-9624  ...          60.83
9988      0154 Green Forest\nNew Timothy, IL 33670-4620  ...          89.76
9989         5674 Cruz Trace\nNew Shelby, KY 51047-5469  ...          17.18
9990  75731 Molly Springs\nWest Danielle, VT 96934-5102  ...          18.35
9991              PSC 8165, Box 8498\nAPO AP 60327-0346  ...          25.93
9992  885 Allen Mountains Apt. 230\nWallhaven, LA 16995  ...          67.96
9993  7555 Larson Locks Suite 229\nEllisburgh, MA 34...  ...          65.61
9994       6276 Rojas Hollow\nLake Louis, WY 56410-7837  ...          31.85
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[15 rows x 14 columns]

**Display top 15 rows of the dataset **

In [12]:
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

Check null value in the data set

In [13]:
data.isnull()

      Address    Lot  AM or PM  ...  IP Address  Language  Purchase Price
0       False  False     False  ...       False     False           False
1       False  False     False  ...       False     False           False
2       False  False     False  ...       False     False           False
3       False  False     False  ...       False     False           False
4       False  False     False  ...       False     False           False
...       ...    ...       ...  ...         ...       ...             ...
9995    False  False     False  ...       False     False           False
9996    False  False     False  ...       False     False           False
9997    False  False     False  ...       False     False           False
9998    False  False     False  ...       False     False           False
9999    False  False     False  ...       False     False           False

[10000 rows x 14 columns]

In [14]:
data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

Count rows and columns in this data

In [15]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [16]:
len(data.columns)

14

In [20]:
len(data)

10000

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

Highest and lowest purchase price

In [22]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [23]:
data['Purchase Price'].max()

99.99

In [24]:
data['Purchase Price'].min()

0.0

In [25]:
data['Purchase Price'].mean()

50.34730200000025

In [26]:
data['Purchase Price'].describe()

count    10000.000000
mean        50.347302
std         29.015836
min          0.000000
25%         25.150000
50%         50.505000
75%         75.770000
max         99.990000
Name: Purchase Price, dtype: float64

Number of people have French 'fr' Language

In [29]:
data[data['Language']=='fr']

                                                Address  ... Purchase Price
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
19                  125 Hall Summit\nBoothton, IL 41721  ...          58.39
53                PSC 9431, Box 7059\nAPO AA 29285-1363  ...          10.41
76    49206 Campbell Port\nNorth Cliffordshire, HI 3...  ...          57.34
82    493 Smith Valleys Suite 004\nNew Madelineville...  ...          49.04
...                                                 ...  ...            ...
9941           43757 Brown Lodge\nValerieberg, PR 88518  ...          60.03
9947      32827 Carl Inlet\nSouth Nicole, NY 38081-6636  ...          49.61
9951                518 Brown Dam\nGarciaside, IN 33057  ...          57.59
9977  02182 Keith Expressway\nEast Shannon, CT 20578...  ...          94.93
9980           6061 Dave Lights\nPhillipsview, UT 40500  ...          16.05

[1097 rows x 14 columns]

In [30]:
len(data[data['Language']=='fr'])

1097

In [31]:
data[data['Language']=='fr'].count()

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

Job title contains Engineer

In [34]:
data['Job']

0       Scientist, product/process development
1                            Drilling engineer
2                     Customer service manager
3                            Drilling engineer
4                                  Fine artist
                         ...
9995                                Printmaker
9996                           Energy engineer
9997                        Veterinary surgeon
9998                  Local government officer
9999                    Embryologist, clinical
Name: Job, Length: 10000, dtype: object

In [35]:
data['Job'].str.contains('engineer')

0       False
1        True
2       False
3        True
4       False
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: Job, Length: 10000, dtype: bool

In [36]:
data[data['Job'].str.contains('engineer')]

                                                Address  ... Purchase Price
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
50      41159 Michael Centers\nAdamsfort, RI 37108-6674  ...          36.85
103                480 Ronald Cape\nJohnville, MA 53644  ...          51.37
193   1010 Mahoney Mills Suite 486\nWest Daniellevie...  ...          96.79
...                                                 ...  ...            ...
9934     52276 Smith Cliffs\nLake Vanessaview, AL 91791  ...          99.75
9948  95544 Johnson Isle Suite 939\nMichaelberg, RI ...  ...          71.89
9970              0060 Keith Stream\nWestport, CO 47097  ...          17.76
9977  02182 Keith Expressway\nEast Shannon, CT 20578...  ...          94.93
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63

[531 rows x 14 columns]

In [37]:
data[data['Job'].str.contains('engineer',case=False)]

                                                Address  ... Purchase Price
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
50      41159 Michael Centers\nAdamsfort, RI 37108-6674  ...          36.85
55    27635 Maureen Bypass Apt. 883\nSandraview, SD ...  ...          48.74
60    7126 Katherine Squares\nPerkinsview, CO 97299-...  ...          20.43
...                                                 ...  ...            ...
9948  95544 Johnson Isle Suite 939\nMichaelberg, RI ...  ...          71.89
9952            9991 Vaughn Hills\nRacheltown, PA 55409  ...          39.63
9970              0060 Keith Stream\nWestport, CO 47097  ...          17.76
9977  02182 Keith Expressway\nEast Shannon, CT 20578...  ...          94.93
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63

[984 rows x 14 columns]

In [39]:
len(data[data['Job'].str.contains('engineer',case=False)])

984

Email of the person with the following IP address:132.207.160.22

In [41]:
data['IP Address']=="132.207.160.22"

0       False
1       False
2        True
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: IP Address, Length: 10000, dtype: bool

In [42]:
data[data['IP Address']=="132.207.160.22"]

                            Address    Lot  ... Language Purchase Price
2  Unit 0065 Box 5052\nDPO AP 27450  94 vE  ...       de           0.95

[1 rows x 14 columns]

In [43]:
data[data['IP Address']=="132.207.160.22"]['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

How many people have master card as their creadit card provider and made a purchage above 50?

In [44]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [46]:
data['CC Provider']=="Mastercard"

0       False
1        True
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: CC Provider, Length: 10000, dtype: bool

Compare between two variables

In [50]:
data[(data['CC Provider']=="Mastercard") & (data['Purchase Price']>50)]

                                                Address  ... Purchase Price
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
18    461 Christopher Square\nWest Michaelchester, C...  ...          70.15
31                     USNS Alvarado\nFPO AA 27052-1231  ...          94.14
35    93392 Webb Gardens Apt. 220\nLaurabury, AR 999...  ...          97.46
90          431 Bowen Lights\nFergusonborough, MH 01362  ...          78.86
...                                                 ...  ...            ...
9941           43757 Brown Lodge\nValerieberg, PR 88518  ...          60.03
9948  95544 Johnson Isle Suite 939\nMichaelberg, RI ...  ...          71.89
9954  051 Samantha Wells Apt. 328\nScottborough, OR ...  ...          87.15
9981  087 Larson Roads Apt. 587\nRicestad, WI 98077-...  ...          63.61
9987     2754 Klein Mission\nJohnsonview, PA 64925-9624  ...          60.83

[405 rows x 14 columns]

In [51]:
len(data[(data['CC Provider']=="Mastercard") & (data['Purchase Price']>50)])

405

Find the email of the person with the following creadit card number:4664825258997302

In [53]:
data['Credit Card']==4664825258997302

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Credit Card, Length: 10000, dtype: bool

In [55]:
data[data['Credit Card']==4664825258997302]

                                                Address  ... Purchase Price
9992  885 Allen Mountains Apt. 230\nWallhaven, LA 16995  ...          67.96

[1 rows x 14 columns]

**bold text**